.DS_Store

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# parcel-bundler cache (https://parceljs.org/)
.cache


# Gatsby files
.cache/